@using RCLProdutos.Shared.Slider
@using RCLProdutos.Shared.Cards
@using RCLProdutos.Shared.CardProduto

@page "/slider"

<section class="slider">
    <div class="slider-container" style="width:@(witdthPerc)%">
        <button @onclick="PreviousSlide" disabled="@IsDisbledPrevious" class="btn-slides-left"><img src="/images/back.png" /></button>

        @if (produtos == null)
        {
            <p>Aguarde carregando...</p>
        }
        else
        {
            @foreach (var produto in produtos)
            {             
                <SlideComponent produto="@produto" width="@sliderUtilsService.WidthSlide2" marginLeft="@(sliderUtilsService.MarginLeftSlide[produtos.IndexOf(produto)])" />
            }
            <IndicadoresComponent Produtos="@produtos" />
        }

        <button @onclick="NextSlide" disabled="@IsDisabledNext" class="btn-slides-right"><img src="/images/next.png" /></button>
    </div>
</section>

<div class="friso-filters">
    @if (categoriaNivel1?.Any() == true)
    {
        <CardsCarousel Title="Categorias"
                       Categories="categoriaNivel1"
                       SelectedCategoryId="selectedNivel1Id"
                       OnSelect="HandleCategoriaSelecionada" />
    }

    @if (categoriaNivel2?.Any() == true)
    {
        <CardsCarousel Title="Subcategorias"
                       Categories="categoriaNivel2"
                       SelectedCategoryId="selectedNivel2Id"
                       OnSelect="HandleCategoriaSelecionada" />
    }

    @if (categoriaNivel3?.Any() == true)
    {
        <CardsCarousel Title="Detalhes"
                       Categories="categoriaNivel3"
                       SelectedCategoryId="selectedNivel3Id"
                       OnSelect="HandleCategoriaSelecionada" />
    }
</div>

<SlideProdutoComponent sugestProduto="@sugestaoProduto" />



